<div>

	<!-- Your code here -->
	<%= form_for(@signup) do |f| %>  
	<div class="field"> 
		<%= f.text_area :email %><br> 
	</div> 
	<div class="actions"> 
		<%= f.submit "Create" %> 
	</div> 
	<% end %>

</div>